<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="asset/css/framework.css" />
    <link rel="stylesheet" type="text/css" href="asset/css/swiper.min.css"/>
    <link rel="stylesheet" type="text/css" href="asset/css/goods_intro.css"/>
    <script src="asset/js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="asset/js/main.js" type="text/javascript" charset="utf-8"></script>
	<script src="asset/js/easyJs.js" type="text/javascript" charset="utf-8"></script>
	<script src="asset/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="asset/js/changePX.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <div class="ui-pane">
    	<div class="ui-header">
            <a href="index.html" class="header-button">
                <svg class="icon" aria-hidden="true">
					<use xlink:href="#icon-left"></use>
				</svg>
            </a>
            <div class="header-title">商品详情</div>
        </div>
        <div class="ui-content">
			<div class="goods_intro_box">
				<div class="swiper-container">
				  <div class="swiper-pagination"></div>
				  <div class="swiper-wrapper">
				    <div class="swiper-slide">
				    	<img class="goods_img" src="asset/img/goods_img.png" >
				    </div>
				    <div class="swiper-slide">
				    	<img class="goods_img" src="asset/img/goods_img.png" >
				    </div>
				    <div class="swiper-slide">
				    	<img class="goods_img" src="asset/img/goods_img.png" >
				    </div>
				  </div>
				</div>
				<div class="goods_tit">
					重庆奉节2日游
				</div>
				<div class="price_num marginOne flex-between">
					<div class="price flex-star">
						<div>¥1999.00</div><span>299积分</span>
					</div>
					<span class="goods_num">销量300</span>
				</div>
				<div class="ui-list marginOne goods_rez flex-star">
					<span>服务承诺：</span>
					<div class="goods_rez_item">
						<svg class="icon" aria-hidden="true">
							<use xlink:href="#icon-qian"></use>
						</svg>
						<span>随时退</span>
					</div>
					<div class="goods_rez_item">
						<svg class="icon" aria-hidden="true">
							<use xlink:href="#icon-yinhangqia"></use>
						</svg>
						<span>交易安全</span>
					</div>
					<div class="goods_rez_item">
						<svg class="icon" aria-hidden="true">
							<use xlink:href="#icon-gou1"></use>
						</svg>
						<span>出行保障</span>
					</div>
				</div>
				<div class="chose_num flex-between">
					<span>选择出发时间人数</span>
					<div>
						<span class="guige"></span>
						<svg class="icon" aria-hidden="true">
							<use xlink:href="#icon-right"></use>
						</svg>
					</div>
				</div>
				<div class="goods_pin flex-star">
					<div class="goods_pin_item goods_pin_item_act">
						商品详情
					</div>
					<div class="goods_pin_item">
						商品详情
					</div>
				</div>
				<div class="goods_jies marginOne">
					Chictopia的设计风格优雅而前卫，注重服装设计的原创精				神。设计师将复古元素和现代简约设计巧妙的结合在一起，				<img src="asset/img/goods_img.png" >				创造出一种精致并且经典的设计风格。设计师认为面料是				影响服装设计的关键所在，因此对面料的运用有着独特的				见解，而每一季由设计师亲自操刀设计的另类印花面料，				更是品牌的一大特点，令Chictopia的设计在众多时装品牌
				中显得独一无二。
				</div>
				<div class="goods_pinjia marginOne">
					<div class="pinjia_item magint-one">
						<div class="pinjia_item_top flex-between">
							<div class="pj_item flex-center">
								<span>质量：</span><div>非常满意</div>
							</div>
							<div class="pj_item flex-center">
								<span>态度：</span><div>非常满意</div>
							</div>
							<div class="pj_item flex-center">
								<span>符合度：</span><div>非常满意</div>
							</div>
						</div>
						<div class="pj_cont">
							<div>非常愉快的一次旅游，导游很漂亮 、很可爱 、服务非常好，还教我们如何拍照，希望下次来重庆还能找她当导游</div>
							<p>欣欣会员   2020-02-27</p>
						</div>
					</div>
					<div class="pinjia_item magint-one">
						<div class="pinjia_item_top flex-between">
							<div class="pj_item flex-center">
								<span>质量：</span><div>非常满意</div>
							</div>
							<div class="pj_item flex-center">
								<span>态度：</span><div>非常满意</div>
							</div>
							<div class="pj_item flex-center">
								<span>符合度：</span><div>非常满意</div>
							</div>
						</div>
						<div class="pj_cont">
							<div>非常愉快的一次旅游，导游很漂亮 、很可爱 、服务非常好，还教我们如何拍照，希望下次来重庆还能找她当导游</div>
							<p>欣欣会员   2020-02-27</p>
						</div>
					</div>
				</div>
				<div class="page_bottom flex-between">
					<div  class="to_index">
						<svg class="icon" aria-hidden="true">
							<use xlink:href="#icon-fenxiang1"></use>
						</svg>
						<p>分享</p>
					</div>
					<div class="bottom_button flex-star">
						<input type="button" value="加入购物车" />
						<input type="button" value="立即购买" />
					</div>
				</div>
				
				<div class="ui-shade">
					<div class="modal_cont">
						<div class="page_modal">
							<div id="geuige" >
							<div class="cose_modal"><span>×</span></div>
							<div class="goods_intro flex-star">
								<img src="asset/img/goods_img.png" >
								<div class="goods_info">
									<div class="goods_price">{{price}}</div>
									<div class="kucun">库存<span>{{num}}</span>件</div>
									<div class="checkre flex-star">
										<span>已选:</span><div>{{showAttr}}</div>
									</div>
								</div>
							</div>
							
								<div v-for="(item,itemindex) in goods.SKUInfo" class="chose_item">
									<p class="chose_item_tit">{{item.name}}</p>
									<div class="chose_item_cont flex-star">
										<div v-for="(attr,attrindex) in item.items"
										v-on:click="specificationBtn(attr.name,itemindex,$event,attrindex)"
										v-bind:class="[attr.isShow?'':'noneActive',subIndex[itemindex] == attrindex?'productActive':'']">
											{{attr.name}}
										</div>
									</div>
								</div>
							
							<div class="num_opt flex-between">
								<span>购买数量</span>
								<div class="numopt flex-star">
									<div class="add">-</div>
									<div>2</div>
									<div class="reduce">+</div>
								</div>
							</div>
							<div class="btn_cont flex-star">
								<input type="button" name="" id="" value="加入购物车" />
								<input type="button" name="" id="" value="马上抢" />
							</div>
						</div>
					</div>
						
					</div>
				</div>
				
			</div>
		</div>
	</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script type="text/javascript">
	var mySwiper = new Swiper('.swiper-container', {
		autoplay: true,
		pagination: {
			el: '.swiper-pagination',
		},
		loop:true
	})
	
	$(".page_modal").click(function(e){
		var ev = e || event;
		ev.stopPropagation();
	})
	
	
	$.get("asset/json/3种规格.json",function(goodsJson_3spec){
			console.log(goodsJson_3spec)
			var goods = new Vue({
			  el: '#geuige',
			  data: {
				goods: goodsJson_3spec,
				selectArr: [], //存放被选中的值
				showAttr:"",
				num:0,
				shopItemInfo: {}, //存放要和选中的值进行匹配的数据
				subIndex: [], //是否选中 因为不确定是多规格还是单规格，所以这里定义数组来判断
				price:'' //选中规格的价钱
			  },
			  created: function () {
				  var self = this;
				  for (var i in self.goods.priceInfo) {
					  self.shopItemInfo[self.goods.priceInfo[i].difference] = self.goods.priceInfo[i]; //修改数据结构格式，改成键值对的方式，以方便和选中之后的值进行匹配
				  }
				  self.checkItem();
			  },
			  methods:{
				  specificationBtn: function (item, n, event, index) {
					  var self = this;
					  if (self.selectArr[n] != item) {
						  self.selectArr[n] = item;
						  self.subIndex[n] = index;

					  } else {
						  self.selectArr[n] = "";
						  self.subIndex[n] = -1; //去掉选中的颜色 
					  }
					  
					  var showarr = self.selectArr;
					  showarr.forEach((item,i,arr)=>{
						  if(item == ""){
							  arr.splice(i,1)
						  }
					  })
					  self.showAttr = showarr.join("; ");
					  self.checkItem();
				  },
				  checkItem: function () {
					  var self = this;
					  var option = self.goods.SKUInfo;
					  var result = []; //定义数组存储被选中的值
					  for (var i in option) {
						  result[i] = self.selectArr[i] ? self.selectArr[i] : '';
					  }
					  console.log(result);
					  
					  if(self.shopItemInfo[result.join(";")]){
						self.num = self.shopItemInfo[result.join(";")].stock;
						self.price = "￥" + (self.shopItemInfo[result.join(";")].price).toFixed(2);
					  }else{
						  self.num = 0;
						  self.price = "￥0.00";
					  }
					  
					  
					  for (var i in option) {
						  var last = result[i]; //把选中的值存放到字符串last去
						  for (var k in option[i].items) {
							  result[i] = option[i].items[k].name; //赋值，存在直接覆盖，不存在往里面添加name值
							  option[i].items[k].isShow = self.isMay(result); //在数据里面添加字段isShow来判断是否可以选择
						  }
						  result[i] = last; //还原，目的是记录点下去那个值，避免下一次执行循环时避免被覆盖
					  }
					  self.$forceUpdate(); //重绘
				  },
				  isMay: function (result) {
					  for (var i in result) {
						  if (result[i] == '') {
							  return true; //如果数组里有为空的值，那直接返回true
						  }
					  }
					  if(this.shopItemInfo[result.join(";")]){//匹配选中的数据的库存，若不为空返回true反之返回false
						return  this.shopItemInfo[result.join(";")].stock == 0 ? false : true;
					  }
				  }
				  
			  }
			})
			
			
	})
	
	$(".goods_pin_item").click(function(){
		$(this).addClass("goods_pin_item_act").siblings().removeClass("goods_pin_item_act");
		var inde = $(this).index();
		YGHH(inde);
		if(inde == 1){
			$(".goods_pinjia").css("display","block");
			$(".goods_jies").css("display","none");
		}else{
			$(".goods_pinjia").css("display","none");
			$(".goods_jies").css("display","block");
		}
	})
	
	$(".chose_num").click(function(){
		$(".ui-shade").css("display","block");
		$(".modal_cont").addClass("silderout");
	})
	
	$(".chose_num").click(function(){
		$(".ui-shade").css("display","flex");
	});
	
	$(".num_item,.tiem_item").click(function(){
		$(this).find("input").prop("checked",true);
	})
	
</script>
</html>
